[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
TestResults/
.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Private art prototypes, Blender source projects and production materials
/Design/
/Tools/Blender/
/Imports/
/TestArtifacts/
/.utmp/
/Assets/ThirdParty/
/Assets/ThirdParty.meta
*.blend
*.blend[0-9]*
*.blend*.meta
